
name: test

on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  packages:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        package:
          - dnf5-5.1.15-3-x86_64.pkg.tar.zst
          - systemd-gadget-0.0.1-1-any.pkg.tar.zst
    steps:
      - uses: actions/checkout@v3
      - uses: actions/upload-artifact@v4
        with:
          name: package-${{ matrix.package }}
          path: ${{ matrix.package }}
  repo:
    runs-on: ubuntu-latest
    container: archlinux:base-devel
    needs: packages
    steps:
      - name: Download All Artifacts
        uses: actions/download-artifact@v4
        with:
          path: repo/
          pattern: package-*
          merge-multiple: true
      - env:
          RCLONE_CONFIG_BUCKET_TYPE: b2
          RCLONE_CONFIG_BUCKET_ACCOUNT: ${{secrets.BUCKET_ACCOUNT}}
          RCLONE_CONFIG_BUCKET_KEY: ${{secrets.BUCKET_KEY}}
        run: |
          set -uexo pipefail
          ls
          pacman -Sy --noconfirm rclone
          bucket=samcday-archlinux-msm8916

          rclone copy BUCKET:$bucket/msm8916.db repo/
          rclone copy BUCKET:$bucket/msm8916.files repo/

          ln -s msm8916.db repo/msm8916.db.tar.xz
          ln -s msm8916.files repo/msm8916.files.tar.xz

          repo-add repo/msm8916.db.tar.xz repo/*.pkg.tar.zst

          rclone copy repo/msm8916.db BUCKET:$bucket/
          rclone copy repo/msm8916.files BUCKET:$bucket/
