
name: test

on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    container:
      image: archlinux:base-devel
      options: --cap-add=SYS_ADMIN
    steps:
      - uses: actions/checkout@v3
      - env:
          RCLONE_CONFIG_BUCKET_TYPE: b2
          RCLONE_CONFIG_BUCKET_ACCOUNT: ${{secrets.BUCKET_ACCOUNT}}
          RCLONE_CONFIG_BUCKET_KEY: ${{secrets.BUCKET_KEY}}
        run: |
          set -uexo pipefail
          # sudo apt install -y rclone
          pacman --noconfirm -Sy rclone fuse3
          mkdir repo
          rclone mount --daemon --log-level=DEBUG BUCKET: repo/
          sleep 10
          ls repo/
          repo-add repo/samcday-archlinux-msm8916/repo.db.tar.xz dnf5-5.1.15-3-x86_64.pkg.tar.zst
